{% extends "layout.html" %}

{% block title %}
Sell
{% endblock %}

{% block main %}
    <h2 class="text-gold">Sell</h2>
    <form action="/sell" method="POST">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol or Name" type="text" list="symbols" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" type="number" min="1" placeholder="Number of shares" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
